    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    html {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #main {}
    
    #header {
        height: 46px;
        background-color: black;
    }
    
    #nav {
        display: inline-block;
        /* display để thẻ nav chỉ dài đúng nội dung của nó thôi */
    }
    
    #nav,
    .subnav {
        list-style: none;
    }
    
    #nav>li {
        display: inline-block;
    }
    
    #nav li {
        position: relative;
    }
    
    #nav>li>a {
        color: white;
        text-transform: uppercase;
        /* chinh chu thuong thanh hoa */
    }
    
    #nav li a {
        text-decoration: none;
        line-height: 46px;
        padding: 0 24px;
        display: block;
    }
    
    #nav li:hover .subnav {
        display: block;
    }
    
    #nav>li:hover>a,
    #nav .subnav li:hover a {
        background-color: #ccc;
        color: black;
    }
    
    #nav li:hover a {
        /* line-height: 46px; */
    }
    
    #nav .subnav {
        display: none;
        position: absolute;
        top: 46px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    
    #nav .subnav li a {
        color: black;
        padding: 0 16px;
        line-height: 38px;
        width: 160px;
    }
    
    #nav .nav-arrow-down {
        font-size: 14px;
    }
}
#header .search-button {
    float: right;
    /* thẻ search-button là thẻ div, có tính kế thừa chiều ngang, nên khi float vào sẽ vô hiệu hoá tính kế thừa chiều ngang đó */
    
    line-height: 46px;
    padding: 0 24px;
}
#header .search-button:hover {
    background-color: #f44336;
    cursor: pointer;
    /* Dùng để thay đổi con trỏ chuột khi di vào */
}
#header .search-icon {
    color: white;
    font-size: 20px;
}
#slides {
    min-height: 300px;
    background-color: whitesmoke;
    #content {}
    
    #footer {}